@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
}
:root {
  --grenColor: #3d8168;
}
body {
  background-color: #f2e9e2;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem 0 0px 0.4rem;
}
h1 {
  font-size: 1.8rem;
  font-family: "Fraunces", serif;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > * {
  width: 40vh;
  height: 60vh;
}
.product-details {
  background-color: white;
  border-radius: 0 0.4rem 0.4rem 0;
  padding: 1rem 2rem;
}
.product-details p {
  font-size: 0.875rem;
  color: #86878b;
  line-height: 1.6;
}
.product-details p:nth-child(1) {
  letter-spacing: 0.2rem;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
}
.product-price p {
  font-size: 12px;
  text-decoration-line: line-through;
}
.product-price h1 {
  color: var(--grenColor);
}
.product-details button {
  color: white;
  padding: 0.9rem;
  width: 100%;
  border: unset;
  border-radius: 0.4rem;
  background-color: var(--grenColor);
}
.product-details button svg {
  margin-right: 0.4rem;
}
/*             Media Queries         */
@media (max-width: 480px) {
  .container {
    padding: 2rem 0;
    flex-direction: column;
  }
  .product-image {
    height: 36vh;
    width: 47vh;
  }
  img {
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .product-details {
    border-radius: 0 0 0.4rem 0.4rem;
    height: 67vh;
    width: 48vh;
  }
  .product-price {
    justify-content: unset;
    padding-right: unset;
  }
  .product-price h1 {
    margin-right: 1.5rem;
  }
}
